GROQ_API_KEY=
POSTGRES_URL=postgresql://autoqa:autoqa@localhost:5432/autoqa
REDIS_URL=redis://localhost:6379/0
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
MLFLOW_TRACKING_URI=http://localhost:5000
SECRET_KEY=changeme
